#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.dbmdl
*.vs
[Dd]ebug*/
[Rr]elease*/
ipch/
obj/
.idea/
[Bb]in/
Ankh.NoLoad
/.vs

/packages
packages

*.orig
bin
obj
